# ETL Process

In [23]:
#import packages
import pandas as pd
import numpy as np

In [24]:
#import data
#file path
file_path = r'C:\Users\Marlon Gutjahr\Documents\Data Science\soccer_matches\football_Prediction\data\train_and_test2.csv'
#read csv
data = pd.read_csv(file_path)
#in dataframe umwandeln
df = pd.DataFrame(data)

In [25]:
#head ausgeben
print(df.head())
#shape ausgeben
print(df.shape)

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]
(1309, 28)

In [26]:
#namen von spalten
print(df.dtypes)
print(df.describe())

Passengerid      int64
Age            float64
Fare           float64
Sex              int64
sibsp            int64
zero             int64
zero.1           int64
zero.2           int64
zero.3           int64
zero.4           int64
zero.5           int64
zero.6           int64
Parch            int64
zero.7           int64
zero.8           int64
zero.9           int64
zero.10          int64
zero.11          int64
zero.12          int64
zero.13          int64
zero.14          int64
Pclass           int64
zero.15          int64
zero.16          int64
Embarked       float64
zero.17          int64
zero.18          int64
2urvived         int64
dtype: object
       Passengerid          Age         Fare          Sex        sibsp  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean    655.000000    29.503186    33.281086     0.355997     0.498854
std     378.020061    12.905241    51.741500     0.478997     1.041658
min       1.000000     0.170000     0.000000     0.000000     0.000000
25%     328.000000    22.000000     7.895800     0.000000     0.000000
50%     655.000000    28.000000    14.454200     0.000000     0.000000
75%     982.000000    35.000000    31.275000     1.000000     1.000000
max    1309.000000    80.000000   512.329200     1.000000     8.000000

         zero  zero.1  zero.2  zero.3  zero.4  ...  zero.12  zero.13  zero.14  \
count  1309.0  1309.0  1309.0  1309.0  1309.0  ...   1309.0   1309.0   1309.0
mean      0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
std       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
min       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
25%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
50%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
75%       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0
max       0.0     0.0     0.0     0.0     0.0  ...      0.0      0.0      0.0

            Pclass  zero.15  zero.16     Embarked  zero.17  zero.18  \
count  1309.000000   1309.0   1309.0  1307.000000   1309.0   1309.0
mean      2.294882      0.0      0.0     1.492731      0.0      0.0
std       0.837836      0.0      0.0     0.814626      0.0      0.0
min       1.000000      0.0      0.0     0.000000      0.0      0.0
25%       2.000000      0.0      0.0     1.000000      0.0      0.0
50%       3.000000      0.0      0.0     2.000000      0.0      0.0
75%       3.000000      0.0      0.0     2.000000      0.0      0.0
max       3.000000      0.0      0.0     2.000000      0.0      0.0

          2urvived
count  1309.000000
mean      0.261268
std       0.439494
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

[8 rows x 28 columns]

In [27]:
print(df.isnull().sum())

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [28]:
#null Werte aus embarked spalte entfernen
df = df[df['Embarked'] != 0]
print(df['Embarked'])

0       2.0
2       2.0
3       2.0
4       2.0
5       1.0
       ...
1302    1.0
1303    2.0
1304    2.0
1306    2.0
1307    2.0
Name: Embarked, Length: 1039, dtype: float64

In [29]:
#schauen ob die zero zeilen nur null enthalten
print((df['zero'] == 0).all())

for column in df.columns:
    if (df[column] == 0).all():
        print(f"Column {column } contains only zero values.")
    else:
        print(f"Column {column} contains non-zero values.")

True
Column Passengerid contains non-zero values.
Column Age contains non-zero values.
Column Fare contains non-zero values.
Column Sex contains non-zero values.
Column sibsp contains non-zero values.
Column zero contains only zero values.
Column zero.1 contains only zero values.
Column zero.2 contains only zero values.
Column zero.3 contains only zero values.
Column zero.4 contains only zero values.
Column zero.5 contains only zero values.
Column zero.6 contains only zero values.
Column Parch contains non-zero values.
Column zero.7 contains only zero values.
Column zero.8 contains only zero values.
Column zero.9 contains only zero values.
Column zero.10 contains only zero values.
Column zero.11 contains only zero values.
Column zero.12 contains only zero values.
Column zero.13 contains only zero values.
Column zero.14 contains only zero values.
Column Pclass contains non-zero values.
Column zero.15 contains only zero values.
Column zero.16 contains only zero values.
Column Embarked contains non-zero values.
Column zero.17 contains only zero values.
Column zero.18 contains only zero values.
Column 2urvived contains non-zero values.

In [30]:
#spalten mit nur null werten entfernen
zero_only_columns = (df == 0).all()
print(zero_only_columns)
cols_to_drop = zero_only_columns[zero_only_columns].index
df = df.drop(columns=cols_to_drop)

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0
5            6  28.0   8.4583    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0
5       0  ...        0        0        0       3        0        0       1.0

   zero.17  zero.18  2urvived
0        0        0         0
2        0        0         1
3        0        0         1
4        0        0         0
5        0        0         0

[5 rows x 28 columns]